AppIcon ICON "almlys.ico"

#ifndef __MSVC__
#include "wx/msw/wx.rc"
#endif

#include "xversion.h"

//$Id$

1 VERSIONINFO
FILEVERSION alcMAX_VER,alcMIN_VER,alcREL_VER,alcBET_VER
PRODUCTVERSION alcMAX_VER,alcMIN_VER,alcREL_VER,alcBET_VER
FILEFLAGSMASK 0
FILEOS 0x40000
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "000004E4"
  {
   VALUE "CompanyName", "Alcugs Project Team"
   VALUE "FileDescription", alcFILEDESC
   VALUE "FileVersion", alcSTR_VER
   VALUE "InternalName", "alcugs"
   VALUE "LegalCopyright", "Copyright 2005 Alcugs Project Team"
   VALUE "ProductName", "Alcugs Server Software"
   VALUE "ProductVersion", alcSTR_VER
  }
 }
 BLOCK "VarFileInfo"
 {
   VALUE "Translation", 0x0000 0x04E4
 }
}
