AppIcon ICON "almlys.ico"

#ifndef __MSVC__
#include "wx/msw/wx.rc"
#endif

#include "xversion.h"

//$Id$

1 VERSIONINFO
FILEVERSION alcMAX_VER,alcMIN_VER,alcREL_VER,alcBET_VER
PRODUCTVERSION alcMAX_VER,alcMIN_VER,alcREL_VER,alcBET_VER
FILEFLAGSMASK 0
FILEOS 0x40000
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
 #ifdef __MSVC__
  BLOCK "000004E4"
 #else
  BLOCK "040904E4"
 #endif
  {
   VALUE "CompanyName", "Alcugs H'uru Server Project Team"
 #ifdef __MSVC__
   VALUE "FileDescription", alcFILEDESC
 #else
   //it must be
   VALUE "FileDescription", alcXBUILDINFO
 #endif
   VALUE "FileVersion", alcSTR_VER
   VALUE "InternalName", "alcugs"
   VALUE "LegalCopyright", "Copyright 2005 Alcugs H'uru Server Project Team"
   VALUE "ProductName", "Alcugs H'uru Server Software"
   VALUE "ProductVersion", alcSTR_VER
  }
 }
#ifdef __MSVC__ 
 BLOCK "VarFileInfo"
 {
   VALUE "Translation", 0x0000 0x04E4
 }
#endif
}
