###############################################################################
#      Sample Uru Server Configuration file                                   #
###############################################################################
# $Id$                                                                        #
###############################################################################
#
# Important!, some features are unimplemented, others may work or not, and 
# others may cause unstability.
# Warning: This file contains passwords, so remember to make it only readable
# by the user uru.
#
# $ chown uru.uru
# $ chmod 400
#
# remember that the LAST entry overrides the previous one for example,
# if you put:
#  port = 4764
#
# and then lately you put:
# read_config = myconfig.txt
#
# and if this new file contains the directive "port" then the value will be 
# overrided by the last one.
#
# The syntax, is very simple: variable = "string text" or variable = 1284
# NOTE: Commented text starts with the characters '#' and/or ';'
############# Global Settings #################################################
[global]
# set the logging/verbose level (you can also set it as parameter: [-v n])
# 3-> print all messages to the stdout (default)
# 2-> print only informative and error messages
# 1-> print only error messages
# 0-> total silence, perfect for daemon mode
;verbose_level = 0 # default 3
# set daemon mode (parameter: [-D])
;daemon = 1 # default 0
# path top contain the log files (parameter: [-log path/])
;log_files_path = log/ # default log/

# sets the bandwidth in kbit/s. This speed is anounced to the clients
# and used to compute how fast the server sends the messages
;bandwidth = 128

# network and network mask of your LAN (to determine the connection speed)
private_network = 192.168.0.0
private_mask    = 255.255.255.0
# the address others use to connect to your server (i.e. your external address)
public_address  = 127.0.0.1

bind = 127.0.0.1 # default bind address for servers (the interface facing your router)

# global database settings
;db.timeout = 950 # set the database tiemout if the connection is not persistent (default 15 minutes = 950 seconds)
;db.persistent = 1 # enable persistent connection to the database (default 1)
;db.log = 1 # enable logging of the database driver (default 1)
;db.sql.log = 1 # enable sql logging (default 1), doesn't work when db.log is disabled
# global database connection data
db.host = "127.0.0.1" # note: set db.host to nothing to use the local unix socket (untested with unet3+)
;db.port = 0 # sets the MySQL port (default 0 = let mysql decide which port to use)
db.username = "alcugs"
db.passwd = "yourpassword"

# There is a stop var for each server section, remove them to check that you
# have already read and understood how this configuration file works.
stop = 1

############# Auth Settings ###################################################
[auth]
# this is the section containing options for the auth server. global options like bind, verbose_level or log_files_path can be overwritten here

# bind and port are also used by lobby and game to know where to connect
bind = 127.0.0.1 # the auth server doesn't have to be accessed from outside
port = 2010

# enable/disable auth logging
;auth.log = 1 # default 1

# authenticating options
;auth.minalevel = 25 # the player's access level must be LOWER than this one to be able to log into the servers - having the same level is not enough (default 25)
;auth.att = 10 # maximal number of failed login attempts within auth.distime (default 10)
;auth.distime = 300 # time an account is disabled after too many wrong attempts (default 5 minutes = 300 seconds)

# database settings
db.name = "alcugs_auth"
# you can overwrite the global settings here if host, username and/or password aren't the same for all servers
;db.host = "127.0.0.1"
;db.username = "alcugs"
;db.passwd = "yourpassword"

stop = 1

############# Tracking Settings ##################################################
[tracking]
# this is the section containing options for the tracking server. global options like bind, verbose_level or log_files_path can be overwritten here

# bind and port are also used by lobby and game to know where to connect
bind = 127.0.0.1 # the tracking server doesn't have to be accessed from outside
port = 2011

stop = 1

############# Lobby Settings ##################################################
[lobby]
# this is the section containing options for the lobby server. global options like bind, verbose_level or log_files_path can be overwritten here

port = 5000

stop = 1
