###############################################################################
#      Sample Alcuge Server Configuration file                                #
###############################################################################
# $Id$                                                                        #
###############################################################################
#
# Important!, some features are unimplemented, others may work or not, and 
# others may cause unstability.
# Warning: This file contains passwords, so remember to make it only readable
# by the user running the alcugs server.
#
# $ chown alcugs:alcugs
# $ chmod 400
#
# remember that the LAST entry overrides the previous one for example,
# if you put:
#  port = 4764
#
# and then lately you put:
# read_config = myconfig.txt
#
# and if this new file contains the directive "port" then the value will be 
# overrided by the last one.
#
# The syntax, is very simple: variable = "string text" or variable = 1284
# NOTE: Commented text starts with the characters '#' and/or ';'
# If a "default" value is defined, that's the one which is used if the option
# is not specified at all
#
#
############# Global Settings #################################################
[global]
# set the logging/verbose level (you can also set it as parameter: [-v n])
# 3-> print all messages to the stdout (default)
# 2-> print only informative and error messages
# 1-> print only error messages
# 0-> total silence, perfect for daemon mode
;verbose_level = 0 # default 3
# set daemon mode (parameter: [-D])
;daemon = 1 # default 0

# logging
;log_files_path = log/ # path top contain the log files (parameter: [-log path/]) (default log/)
;vault.html.log = 1 # enables/disables logging of vault objects to a HTML file in lobby, game and vault server (default 1)
;vault.html.log.short = 0 # makes the vault logging much shorter (saves up to 75%) and doesn't dump data to files (default 0)
;net.log.ack = 1 # enables/disables logging of acks (default 1)
;log.n_rotate = 5 # set number of files to rotate (0 will disable logging, 1 keeps only one log file without rotating, default is 5)

# the bind adress for lobby and game servers (i.e. the IP of the interface to the router)
bind = "127.0.0.1"
# the address others use to connect to your server (i.e. your external address - can be a hostname)
public_address  = "127.0.0.1"
;net.up = 128000 # upstream to the internet (default: 128 kBits)
;net.down = 512000 # downstram from the internet (default: 512 kBits)
# recommended if you connect to the server via LAN: network and network mask of your LAN (to determine the connection speed)
private_network = "192.168.0.0"
private_mask    = "255.255.255.0"
;net.lan.up = 100000000 # upstream to your LAN (default: 100 MBits)
;net.lan.down = 100000000 # downstram from your LAN (default: 100 MBits)

# global database settings
;db.timeout = 950 # set the database tiemout if the connection is not persistent (default 15 minutes = 950 seconds)
;db.persistent = 1 # enable persistent connection to the database (default 1)
;db.log = 1 # enable logging of the database driver (default 1)
;db.sql.log = 1 # enable sql query logging (default 0), doesn't work when db.log is disabled
# global database connection data
# (the vault database should be local because otherwise the latency is too big and lobby/game might get confused)
db.host = "127.0.0.1" # note: set db.host to nothing to use the local unix socket (untested with unet3+)
;db.port = 0 # sets the MySQL port (default 0 = let mysql decide which port to use)
db.username = "alcugs"
db.passwd = "yourpassword"

# paths
age = "/usr/local/alcugs/age/" # directory containing the age files (for game, tracking and vault)
sdl = "/usr/local/alcugs/sdl/" # directory containing the sdl files (for game)

# Instancing settings (used by tracking, vault and game)
# Don't change these if the vault got already created!
;instance_mode = 1 # 0: all ages are global; 1 (default): the ages specified in private_ages are private
;private_ages = "AvatarCustomization,Personal,Nexus,BahroCave,DniCityX2Finale"

# compatability for old servers (used by lobby and game)
# 0 = latest (default), 1 = unet2, 2 = unet3, 3 = unet3+
;auth.protocol = 0
;tracking.protocol = 0
;vault.protocol = 0

# There is a stop var for each server section, remove them to check that you
# have already read and understood how this configuration file works.
stop = 1

############# Auth Settings ###################################################
[auth]
# this is the section containing options for the auth server. global options like verbose_level or log_files_path can be overwritten here

# bind and port are also used by lobby and game to know where to connect, so they are both mandatory
bind = "127.0.0.1" # the auth server doesn't have to be accessed from outside
port = 2010

# enable/disable auth logging
;auth.log = 1 # default 1

# authenticating options
;auth.minalevel = 25 # the player's access level must be LOWER than this one to be able to log into the servers - having the same level is not enough (default 25)
;auth.att = 10 # maximal number of failed login attempts within auth.distime (default 10)
;auth.distime = 300 # time an account is disabled after too many wrong attempts (default 5 minutes = 300 seconds)

# database settings
db.name = "alcugs_auth"
# you can overwrite the global settings here if host, username and/or password aren't the same for all servers

stop = 1

############# Tracking Settings ###############################################
[tracking]
# this is the section containing options for the tracking server. global options like verbose_level or log_files_path can be overwritten here

# bind and port are also used by lobby and game to know where to connect, so they are both mandatory
bind = "127.0.0.1" # the tracking server doesn't have to be accessed from outside
port = 2011

# enable/disable tracking logging
;tracking.log = 1 # default 1

# Age state settings
;tracking.tmp.hacks.agestate = 1 # enable age state saving (on by default)
# The following list was carefully chosen, please think before removing any.
# Cleft: for Relto book -- required if someone doesn't finish Cleft on first try (but only if Cleft is not instanced)
# DniCityX2Finale,GreatZero,Kveer,Neighborhood02: for gameplay
# Myst,Personal02,RestorationGuild,spyroom: for reward clothing
# Garden: to fix the rain bug
;tracking.tmp.hacks.resetting_ages = "Cleft,DniCityX2Finale,GreatZero,Kveer,Neighborhood02,Myst,Personal02,RestorationGuild,spyroom,Garden"

# Status file settings
;track.html = 0 # Enable standard online players html output (default 0)
;track.html.path = "/var/www/status/status.html" # Set file for online players list
;track.htmldbg = 0 # Enable online players html output with debug information (default 0)
;track.htmldbg.path = "/var/www/status/statusdbg.html" # Set file for online players list with debug information
;track.xml = 0 # Enable online players XML output for UruVision (default 0)
;track.xml.path = "/var/www/status/status.xml" # Set file for XML players list

stop = 1

############# Vault Settings ##################################################
[vault]
# this is the section containing options for the vault server. global options like verbose_level or log_files_path can be overwritten here

# bind and port are also used by lobby and game to know where to connect, so they are both mandatory
bind = "127.0.0.1" # the vault server doesn't have to be accessed from outside
port = 2012

# enable/disable vault logging
;vault.log = 1 # default 1

# database settings
db.name = "alcugs_vault"
# you can overwrite the global settings here if host, username and/or password aren't the same for all servers

# settings controlling vault behaviour
vault.hood.name = "Alcugs hood" # name of the default (and only) hood (will only be applied for a new, clean vault)
vault.hood.desc = "This is a hood on an Alcugs server" # description of the default hood (will only be applied for a new, clean vault)
;vault.maxplayers = 5 # maximum number of avatars per account
;vault.tmp.hacks.linkrules = 1 # enable a hack which fixes problems with Ahnonay, Myst and Kirel (default 1)
;vault.auto_remove_mgrs = 0 # If you use only unet3+ servers, please enable this to automatically remove subscriptions from players the server knows to be offline. It will cause problems with unet2 game servers though.

stop = 1

############# Lobby Settings ##################################################
[lobby]
# this is the section containing options for the lobby server. global options like verbose_level or log_files_path can be overwritten here

port = 5000

# Set the website which is displayed when the user logs into your shard
website = "http://server/info.html"

# game server settings
game.log = "../game/" # the path where the game log files will be saved (there will be subdirs for each instance: /base_path/agename/ageguid/)
game.bin = "/usr/local/alcugs/bin/alcugs_game" # full path and name of game server binary
# (if you want to use an unet2 game server, you also have to set game.config to the name of the game server config file)

stop = 1

############# Game Settings ###################################################
[game]
# this is the section containing options for the game server. global options like verbose_level or log_files_path can be overwritten here
# NOTE: Some options like log_files_path and port are set by the lobby when it automatically spawns a game server, so these values will
#  be overwritten (for configuring the log files used by the game server, see game.log in the [lobby] section)
log.n_rotate = 2 # keep only one old version of the game server logfiles (to avoid filling the disk too much)

# enable/disable game sverer agestate logging
;agestate.log = 1 # default 1
;agestate.log.detailed = 0 # print details about the content of the sent and received SDL and LoadClone messages (default 0)

# game server linger time: How long to wait before shutting down after the last player left? (0 = do not shut down)
game.linger_time = 120 # default: 120

# game server behaviour
;game.tmp.hacks.noreltoshare = 1 # enable a hack which prevents a crash when trying to share a Relto book (default 1)

# client settings
allow_uu_clients = 0 # (dis)allow UU clients to connect to this server (default: 1)
# This should NOT be set for lobby as the UruSetup.exe everyone uses is an UU client. For game servers however, it's a good mean to
# prevent SDL confusion to be caused by UU clients. Also note that UU client support is untested.
stop = 1
